//COLORS
$primary-color: #7ed56f;
$primary-color-light: #55c57a;
$primary-color-dark: #28b485;
$color-white: #fff;
$color-gray: #777;
$color-gray-2: #999;
$color-gray-3: #333;
$color-black: #000;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-orange-light: #fbbf09;
$color-orange-dark: #ff7730;
$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;


//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//FONT SIZES 
$default-font-size: 1.6rem;