@import "./abstracts/functions";
@import "./abstracts/mixins";
@import "./abstracts/variables";

@import "./base/base";
@import "./base/animations";
@import "./base/typography";
@import "./base/utilities";

@import "./pages/home";

@import "./components/button";
@import "./components/composition";
@import "./components/feature-box";
@import "./components/card";
@import "./components/stories";
@import "./components/bg-video";
@import "./components/form";
@import "./components/popup";



@import "./layout/grid";
@import "./layout/header";
@import "./layout/footer";
@import "./layout/navigation";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 100% 16px if user didn't change anything by defalut but 16/10 = 62.5% makes the default size is 10px*/
}

body {
  box-sizing: border-box;
}




